{{ define "header" }}
<nav>
    <ul>
        {{ if .IsLoggedIn}}
            <li>
                <strong>{{ .User.LastName }} {{ .User.FirstName }}</strong>
                <small>{{ .User.ID }}</small>
            </li>
        {{ end }}
    </ul>

    <ul>
        <li><a href="/">Home</a></li>
        {{ if.IsLoggedIn }}
                <li><a href="/get-resumes">Update Resumes</a></li>
                <li><a href="#" hx-get="/open-modal" hx-target="#modal" hx-trigger="click">Remove My Data</a></li>
                <li><a href="/logout" class="contrast">Log Out</a></li>
        {{ else }}
                <li><a href="/login" class="contrast">Log In</a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}
