{{ define "header" }}
<nav>
    <ul>
        {{ if .User}}
            <li>
                <strong>{{ .User.LastName }} {{ .User.FirstName }}</strong>
                <small>{{ .User.ID }}</small>
            </li>
        {{ end }}
    </ul>
    <ul>
        <li><a href="/">home</a></li>
        {{ if.User }}
            <li><a href="/logout">logout<a></li>
            <li><a href="/get-resumes">update resumes</a></li>
        {{ else }}
            <li><a href="/login">login</a></li>
            <li><a 
                href="#"
                hx-get="/open-modal"
                hx-target="#modal"
                hx-trigger="click"
            >remove my data</a>
            </li>
        {{ end }}
    </ul>
</nav>
{{ end }}
