{{ define "modal" }}
    <dialog open>
        <article>
            <header>
                <button
                    type="button"
                    aria-label="Close"
                    class="secondary"
                    hx-get="/close-modal"
                    hx-target="#modal"
                    hx-swap="innerHTML"
                ></button>
                <h2>Confirm you want to remove your data</h2>
            </header>
            <p>
                You are about to remove all data associated with your profile.
                Meaning your basic user credentials and <mark>ability to schedule CV bumping</mark>.
                In case you reconsider - just login via HeadHunter again.
            </p>
            <footer>
                <a
                    hx-post="/invalidate"
                    hx-target="body"
                    hx-swap="innerHTML"
                    role="button"
                >Sure, delete</a>
            </footer>
        </article>
    </dialog>
{{ end }}
