{{ define "modal" }}
    <dialog open>
        <article>
            <header>
                <button
                    type="button"
                    aria-label="Close"
                    rel="prev"
                    class="secondary"
                    hx-get="/close-modal"
                    hx-target="#modal"
                    hx-swap="innerHTML"
                ></button>
                <p>
                    <h2>Confirm you want to remove your data</h2>
                </p>
            </header>
            <p>
                You are about to remove all data associated with your profile.
                Meaning your basic user credentials and <mark>ability to schedule CV bumping</mark>.
                In case you reconsider - just login via HeadHunter again.
            </p>
            <footer>
                <a href="/invalidate" type="button" class="secondary">Sure, delete</button>
            </footer>
        </article>
    </dialog>
{{ end }}
