{{ define "profile" }}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
        <meta name="description" content="Запускайте автоматическое поднятие резюме на HeadHunter каждые 4 часа. Повысьте видимость профиля и получайте больше приглашений без покупки HH Pro.">
        <meta name="keywords" content="автоподнятие резюме, поднять резюме hh, hh ru бесплатно, поднятие резюме каждые 4 часа, HeadHunter без подписки, повысить видимость резюме">
        <title>Автоподнятие резюме HeadHunter</title>
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li><a href="/" class="contrast">Главная</a></li>
                </ul>
                <ul>
                    {{ if .User }}
                        <li><a href="/profile">Профиль</a></li>
                        <li><a href="/auth/logout">Выйти</a></li>
                        <li><a href="#">Удалить мои данные</a></li>
                    {{ else }}
                        <li><a href="/auth/login">Войти</a></li>
                    {{ end }}
                </ul>
            </nav>
        </header>

        <main class="container">
            <p id="message"></p>

            {{ if .User }}
                <section>
                    <hgroup>
                        <h1>{{ .User.LastName }} {{ .User.FirstName }}</h1>
                        <p>{{ .User.ID }}
                    </hgroup>
                </section>
                <section id="resumes">
                    <button data-on-click="@get('/ds/resumes')">Получить список резюме</button>
                </section>
            {{ end }}
        </main>
    </body>
</html>
{{ end }}
