{{ define "resumes" }}
    <section id="resumes">
        {{ range .Resumes }}
            <article style="width: 50%">
                <header>
                    <hgroup>
                        <h2>{{ .Title }}</h2>
                        <p>{{ .AlternateURL }}</p>
                    </hgroup>
                </header>
                <footer>
                    <button>Сохранить в базу и поставить в расписание на автоподнятие</button>
                </footer>
            </article>
        {{ end }}
    </section>
{{ end }}
