{{ define "base" }}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="color-scheme" content="light dark">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css">
            <script src="https://unpkg.com/htmx.org@1.9.12"></script>
            <script src="https://unpkg.com/htmx-ext-remove-me@2.0.0/remove-me.js"></script>
            <title>Headhunter bump CV</title>
        </head>
        <body class="container">
            <header>{{ template "header" . }}</header>
            {{ if .Notification }}
                <article
                    hx-ext="remove-me"
                    remove-me="2s"
                    style="background-color: green;"
                >{{ .Notification }}</article>
            {{ end }}

            {{ if .Error }}
                <article
                    hx-ext="remove-me"
                    remove-me="2s"
                    style="background-color: red;"
                >{{ .Error }}</article>
            {{ end }}

            <main class="container">
                {{ if .Resumes }}
                    {{ range .Resumes }}
                        <article>
                            <header>
                                <h2>{{ .Title }}</h2>
                                <p>
                                    <a
                                        href="{{ .AlternateURL }}"
                                        class="secondary"
                                        target="_blank"
                                    >{{ .AlternateURL }}
                                    </a>
                                </p>
                            </header>
                            <p>created at: {{ .CreatedAt | formatTime }}</p>
                            <p>updated at: {{ .UpdatedAt | formatTime }}</p>
                            <footer>{{ template "toggle-switch" . }}</footer>
                        </article>
                    {{ end }}
                {{ else }}
                    {{ template "info" . }}
                {{ end }}
                <div id="modal"></div>
            </main>
        </body>
    </html>
{{ end }}
